# Python
__pycache__/
*.pyc
*.pyo
*.log

# FastAPI / Uvicorn
.env

# Virtual Environments
venv/
.env/
env/

# Binaries ESBMC
windows-release/
linux-release/

# IDEs / Editores
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
